@using Examen_DAW.Models
@model Comenzi
@{

	ViewData["Nume"] = "New";
}

<h1>@ViewData["Nume"]</h1>

<br />


<form action="/Comenzi/New" method="post" class="card">
    @Html.LabelFor(_Comenzi => _Comenzi.Nume, "Nume: ")
    @Html.TextBoxFor(_Comenzi => _Comenzi.Nume)
    @Html.ValidationMessageFor(_Comenzi => _Comenzi.Nume)

    <br />

    @Html.Label("Adresa", "Adresa: ")
    @Html.TextBox("Adresa")
    @Html.ValidationMessage("Adresa")

    <br />

    @Html.Label("ProduseId", "Produse: ")
    @Html.DropDownList("ProduseId", new SelectList(ViewBag.ComenziList, "Value", "Text"), "Select produs")
    @Html.ValidationMessage("ProduseId")

    <br />

    <button type="submit">Done</button>
</form>

<br />

<form action="/Articles/Index" method="get">
    <button type="submit">Back</button>
</form>
